*{
    padding: 0;
    margin: 0;
}

body{
    .new-amsterdam-regular {
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
      }      
}

/* main-Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: black;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: black;
}

.navbar-menu-toggle{
    display: none;
}

/* Sidenavbar */
.side-navbar{
    background-color: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color:white;
    transition: 2s;
}

.side-navbar-link{
    margin-bottom: 25px;
}

.side-navbar-links a{
    text-decoration: none;
    color:aliceblue;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/*header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


/*Service side*/
.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    border: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 30%;
}

/* Media Query -- used when the page gets size lesser */
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block; 
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }    
}